#WHISPER_PROMPT="This is a transcript - of a Docker and Kubernetes training - delivered by Jérôme Petazzoni - AJ Bowen - and Dana Engebretson."
DATASET=2023-01-m2a
WHISPER_PROMPT="Ceci est l'enregistrement - de la formation High Five de Enix SAS, - portant sur Docker et Kubernetes, - délivrée par Jérôme Petazzoni."
